body {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', sans-serif;
  color: #513BCC;
  /* background-color: rgb(242, 238, 247); */
  text-align: center;
}
h2,p {
  margin: 0;
}

.ft-sz-xl {
  font-size: 42px;
}
.ft-sz-lg {
  font-size: 34px;
}

.mg-tp-xs {
  margin-top: 10px;
}
.mg-tp-sm {
  margin-top: 20px;
}
.mg-bt-md {
  margin-bottom: 30px;
}
.mg-bt-lg {
  margin-bottom: 50px;
}

.border {
  display: inline-block;
  border: 3px solid #513BCC;
  border-radius: 3px;
  padding: 6px 20px;  
  /* box-shadow: 2px 2px 10px rgba(81,59,204,0.3); */
  /* background-color: rgba(81,59,204,0.07); */
}

/* Clock Component */
.App-clock h3 {
  margin: 0;
}
.clock {
  /* background-color: #EFFFE4; */
  margin: 10px 0 10px;
}

/* Weather Component */
.weather-section {
  display: inline-block;
  margin: 0 auto;
  padding: 0 40px 20px;
  margin-top: 20px;
  /* border-radius: 3px; */
  /* border-top: 2px solid #513BCC; */
  /* background: rgba(81,59,204,0.075); */
}
.App-weather p {
  margin-bottom: 0px;
}
.App-weather .border {
  padding: 8px 16px 12px;  
}
.weather-modules {  
  padding: 0;
}
.weather-modules .border {
  padding: 10px 12px;
}
.weather-modules li {
  margin-right: 10px;
}
.weather-modules li:last-child {
  margin-right: 0px;
}
.weather-modules p.day {
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  margin-bottom: 10px;
  font-style: italic;
}
.weather-modules p.weather {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 6px;
  font-size: 12px;
}